name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-15, macos-15-intel]
        build_type: [Release]
        staticcompile: [ON, OFF]

    steps:
    - uses: actions/checkout@v4

    - name: Build project
      run: |
        mkdir -p build && cd build
        cmake \
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
        -DSTATICCOMPILE=${{ matrix.staticcompile }} \
        -S ..
        cmake --build . --config ${{matrix.build_type}} -v

    - name: Upload Artifact - Linux
      if: contains(matrix.os, 'ubuntu') && matrix.staticcompile == 'ON' && !contains(matrix.os, 'arm')
      uses: actions/upload-artifact@v4
      with:
        name: treedecomp-linux-amd64
        path: |
          build/lib/*
          build/include/*

    - name: Upload Artifact - Linux arm
      if: contains(matrix.os, 'ubuntu') && matrix.staticcompile == 'ON' && contains(matrix.os, 'arm')
      uses: actions/upload-artifact@v4
      with:
        name: treedecomp-linux-arm64
        path: |
          build/lib/*
          build/include/*

    - name: Upload Artifact - Mac Intel
      if: matrix.os == 'macos-15-intel' && matrix.staticcompile == 'ON'
      uses: actions/upload-artifact@v4
      with:
        name: treedecomp-mac-x86_64
        path: |
          build/lib/*
          build/include/*

    - name: Upload Artifact - Mac Arm
      if: matrix.os == 'macos-15' && matrix.staticcompile == 'ON'
      uses: actions/upload-artifact@v4
      with:
        name: treedecomp-mac-arm64
        path: |
          build/lib/*
          build/include/*
